@keyframes cardOpen {
    100%{
        transform: rotateY(180deg);
    }
}

@keyframes cardClose {
    0%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

@keyFrames resultLetters
{
	0%{
		transform: scaleY(0.7);
		bottom: 0;
	}
	50%{
		transform: scaleY(1.3);
		bottom: 20px;
	}
	100%{
		transform: scaleY(0.7);
		bottom: 0;
	}
}


body{
    background-color: #CFD0CF;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 47px;
    color: #434344;
    margin: 40px 0 27.5px 0;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 620px;
    perspective: 600px;
    margin: auto;
    justify-content: center;
}
footer {
    font-size: 32px;
	font-family: Arial, sans-serif;
	font-weight: 600;
	text-align: center;
	margin: 30px 0 0;
	color: #434344;
}

.modal
{
	display: inline-block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10;
	
	text-align: center;
}

.in_modal
{
	position: relative;
	display: inline-block;
	text-align: center;
	min-width: 350px;
	background: #FFF;
	
	z-index: 15;
	top: calc(50% - 94px);
}

.result
{
	font-size: 48px;
	font-family: Arial, san-serif;
	font-weight: 600;
	text-align: center;
	color: #434344;
	
	margin: 30px auto 40px;	
}
.results
{
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.results:nth-child(1)
{
	animation: resultLetters 1s infinite ease-in;
}
.results:nth-child(2)
{
	animation: resultLetters 1s infinite ease-in 0.1s;
}
.results:nth-child(3)
{
	animation: resultLetters 1s infinite ease-in 0.2s;
}
.results:nth-child(4)
{
	animation: resultLetters 1s infinite ease-in 0.3s;
}

.again
{
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 10px;
	background: linear-gradient(-90deg, #22AB93, #19668D);
	height: 40px;
	width: auto;
	margin-bottom: 30px;
	padding: 10px 30px;
	
	font-size: 20px;
	font-family: Arial, san-serif;
	font-weight: 600;
	text-align: center;
	color: #FFF;
	
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.again:active
{
	box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}

.card {
    width: 130px;
    height: 130px;
    margin: 12.5px;
    padding: 0;
    cursor: pointer;
    border-radius: 9px;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.open{
    animation: cardOpen .3s forwards;
}

.close{
    animation: cardClose .3s forwards;
}



.frontCard{
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 130px;
    height: 130px;
    border: 5px solid white;
    border-radius: 9px;
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    background: linear-gradient(45deg, #22AB93, #19668D);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.backCard{
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 130px;
    height: 130px;
    border: 5px solid white;
    border-radius: 9px;
    backface-visibility: hidden;
    position: absolute;
    display: flex;
    background-color: white;
    font-size: 75px;
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;
    user-select: none;
}

.right{
    background-color: #5AD66F;
    border-color: #5AD66F;
}
.wrong{
    background-color: #F44336;
    border-color: #F44336;
}

